.ctapost-box {
  border: 2px dashed #1991e6;
  background: #fff;
  border-radius: 5px;
  margin: 20px 0 40px;
  padding: 50px 0;
  text-align: center;
  width: 100%;
}

.ctapost-box h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  color: #1991e6;
  font-size: 32px;
}
.ctapost-box a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 200px;
  display: block;
  background: #1991e6;
  border-radius: 5px;
  border: 1px solid #1991e6;
  text-decoration: none;
  transition: all 0.4s linear;
}
.ctapost-box a:hover {
  border: 1px solid #1991e6;
  background-color: #fff;
  color: #1991e6;
}

@media (max-width: 767px) {
  .ctapost-box h3 {
    font-size: 27px;
  }
  .ctapost-box a {
    margin-top: 30px;
    line-height: 45px;
  }
}
@media (max-width: 575px) {
  .ctapost-box {
    padding: 30px 15px;
  }
  .ctapost-box h3 {
    font-size: 25px;
  }
  .ctapost-box a {
    margin-top: 22px;
    max-width: 175px;
  }
}
@media (max-width: 479px) {
  .ctapost-box h3 {
    font-size: 23px;
  }
  .ctapost-box a {
    line-height: 45px;
    margin-top: 22px;
    max-width: 155px;
  }
}
